<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig
    mustMatch="true"
    logFile="proxy_log_xml.log"
    allowedReferers="http://s3.amazonaws.com/1776tweets">
  <serverUrls>

    <serverUrl
          url="https://api.twitter.com"
          matchAll="true"
          oauth2Endpoint="https://api.twitter.com/oauth2"
          clientId="L7tx6mQ2Xs8oXmA681VGBUbAD"
          clientSecret="5oRMpbNNSk3XimvyNuO7RGVtlArJoK547Y5By3bpRJGcKlSDIGR"
          rateLimit="1000"
          rateLimitPeriod="30">
    </serverUrl>
  </serverURLs>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
